<div class="topnav visible">
    <div class="items container clearfix">
        <div class="logo-holder">
            <a class="logo item transition" href="/">
                <h2>mytv</h2>
            </a>
            <div class="links" style="float:left;">
                <a href="/pages/campaign" class="item transition btn-style">Create Campaign</a>
            </div>
        </div>
        <div class="mmenu">menu</div>
        <div class="links">
            <a class="item search transition"></a>
            <a href="/pages/howitworks" class="item transition">How It Works</a>
            <div class="user">
                <img src="http://www.placehold.it/40x40">
                <p class="ellipsis">John Smith</p>
                <div class="dropdown">
                    <a href="/users/dashboard">My Dashboard</a>
                    <a href="/users/settings">Account Settings</a>
                    <a href="/">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
