<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="launch landing">
    <div class="parent">

        <!-- Top Nav -->
        <% include ../partials/header %>

        <!-- Container -->
        <div class="content container">
            <div class="info-container clearfix">
                <div class="left">
                    <div class="banner launch">
                        <img src="https://images4.alphacoders.com/226/226058.jpg">
                        <span class="favorite">Favorite</span>
                    </div>
                    <h2 class="title">COURAGE THE COWARDLY DOG</h2>
                    <p class="subtitle">Last season in 2008</p>
                    <hr class="small">
                    <div class="social clearfix">
                        <a class="fb"><img src="/images/fb_white.png"></a>
                        <a class="tw"><img src="/images/tw_white.png"></a>
                        <a class="pt"><img src="/images/pt_white.png"></a>
                        <a class="tm"><img src="/images/tb_white.png"></a>
                    </div>
                    <hr class="small">
                    <div class="tabs clearfix">
                        <div class="tab active" data-attr="story">
                            <span>STORY</span>
                        </div>
                        <div class="tab" data-attr="updates">
                            <span>UPDATES</span>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tcontent story active">
                            <div class="copy">
                                <p>Courage the Cowardly Dog is an American animated horror comedy television series created by John R. Dilworth for Cartoon Network as part of the network's Cartoon Cartoons block. It follows a pink anthropomorphic beagle
                                    who lives with a married elderly couple in the middle of Nowhere.</p>
                                <p>The trio are frequently thrown into bizarre misadventures, often involving the paranormal/supernatural. The series is known for its dark, surreal humor and atmosphere.</p>
                                <img src="http://files.fbcoverstreet.com/content/vPilvCMByGmCdmwUPXTzqWFVbSiNMrR8b4k67wCsfw2ww5WJWaJFJ8pZJNJdc9yG.jpg">
                                <p>Dilworth pitched the series to Hanna-Barbera's animated shorts showcase What a Cartoon!, and a pilot (entitled "The Chicken from Outer Space") aired on Cartoon Network in early 1996.</p>
                                <p>The segment was nominated for an Academy Award, but lost to Wallace and Gromit's A Close Shave. Cartoon Network greenlit a series from the short, which premiered on November 12, 1999 and ended on November 22, 2002, with
                                    four seasons of 13 episodes each produced.</p>
                                <p>During its run, the series was nominated for 3 Golden Reel Awards and 1 Annie Award. Spin-off media include comic books, home video releases and collectible toys.</p>
                            </div>
                        </div>
                        <div class="tcontent updates">
                            <div class="update">
                                <h3>UPDATE #2</h3>
                                <p>4 hours ago</p>
                                <hr class="small">
                                <div class="copy">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                        est laborum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                        est laborum.</p>
                                </div>
                            </div>
                            <div class="update">
                                <h3>UPDATE #1</h3>
                                <p>12 hours ago</p>
                                <hr class="small">
                                <div class="copy">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                        est laborum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                        est laborum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                        est laborum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="small">
                    <div class="bottom-btns clearfix">
                        <a class="btn"><img src="/images/question.png">ASK A QUESTION</a>
                        <a class="btn"><img src="/images/report.png">REPORT REVIVE</a>
                    </div>
                </div>
                <div class="right">
                    <div class="funding">
                        <h2>$13,951<span>of 25k goal</span></h2>
                        <div class="funds">
                            <div class="fund-bar">
                                <div class="progress-bar" style="width:80%"></div>
                            </div>
                            <h2 class="countdown"><span>4 days left</span></h2>
                        </div>
                    </div>
                    <a class="btn main-btn">BACK THIS SHOW</a>
                    <hr class="small">
                    <div class="social clearfix">
                        <a class="fb"><img src="/images/fb_white.png"></a>
                        <a class="tw"><img src="/images/tw_white.png"></a>
                        <a class="pt"><img src="/images/pt_white.png"></a>
                        <a class="tm"><img src="/images/tb_white.png"></a>
                    </div>
                    <hr class="small">
                    <div class="owner user clearfix">
                        <div class="avatar">
                            <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/c93.0.240.240/p240x240/14192740_10103896542065429_7184319250285025710_n.jpg?oh=421b7a20234ef06256b7c1f731676295&oe=58818689">
                        </div>
                        <div class="copy">
                            <p class="ellipsis">Jon Smith</p>
                            <p>Created 2 days ago</p>
                        </div>
                    </div>
                </div>
                <div class="right recent">
                    <h4 class="category">SUPPORT THIS SHOW</h4>
                    <a href="#" class="support-item clearfix">
                        <h3>Pledge $5</h3>
                        <p class="subtitle">Thank You</p>
                        <p>A heartfelt thank you from me.</p>
                        <p class="subtitle">Estimated Delivery</p>
                        <p>April 2017</p>
                        <p class="last">5 backers</p>
                    </a>
                    <a href="#" class="support-item clearfix">
                        <h3>Pledge $25</h3>
                        <p class="subtitle">Thank You</p>
                        <p>A heartfelt thank you from me.</p>
                        <p class="subtitle">Estimated Delivery</p>
                        <p>April 2017</p>
                        <p class="last">15 backers</p>
                    </a>
                    <a href="#" class="support-item clearfix">
                        <h3>Pledge $50</h3>
                        <p class="subtitle">Thank You</p>
                        <p>A heartfelt thank you from me.</p>
                        <p class="subtitle">Estimated Delivery</p>
                        <p>April 2017</p>
                        <p class="last">21 backers</p>
                    </a>
                    <a href="#" class="support-item clearfix">
                        <h3>Pledge $100</h3>
                        <p class="subtitle">Thank You</p>
                        <p>A heartfelt thank you from me.</p>
                        <p class="subtitle">Estimated Delivery</p>
                        <p>April 2017</p>
                        <p class="last">12 backers</p>
                    </a>
                    <a class="btn load-more"><img src="/images/load-more.png">LOAD MORE</a>
                </div>
            </div>
            <hr class="small">
            <div class="comments">
                <h4 class="category">ADD A COMMENT</h4>
                <textarea placeholder="Enter Comment..."></textarea>
                <input type="submit" value="SUBMIT">
                <hr class="small">
                <div class="comments">
                    <h4 class="category">13 COMMENTS</h4>
                    <div class="comment clearfix">
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                <p>I want to revive this tv show as well! You have my signature.</p>
                            </div>
                        </div>
                    </div>
                    <div class="comment clearfix">
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                <p>I want to revive this tv show as well! You have my signature.</p>
                            </div>
                        </div>
                    </div>
                    <div class="comment clearfix">
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                <p>I want to revive this tv show as well! You have my signature.</p>
                            </div>
                        </div>
                    </div>
                    <div class="comment clearfix">
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                <p>I want to revive this tv show as well! You have my signature.</p>
                            </div>
                        </div>
                    </div>
                    <div class="comment clearfix">
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                <p>I want to revive this tv show as well! You have my signature.</p>
                            </div>
                        </div>
                    </div>
                    <div class="comment clearfix">
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                <p>I want to revive this tv show as well! You have my signature.</p>
                            </div>
                        </div>
                    </div>
                    <div class="comment clearfix">
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                <p>I want to revive this tv show as well! You have my signature.</p>
                            </div>
                        </div>
                    </div>
                    <a class="btn load-more"><img src="/images/load-more.png">LOAD MORE</a>

                </div>
            </div>
        </div>

        <!-- Footer -->
        <% include ../partials/footer %>
    </div>
</body>

<script type="text/javascript" charset="utf-8">
    $(function() {
        $('body.landing .tabs .tab').bind('click', function() {
            // toggle tabs
            $('.tabs .tab').removeClass('active');
            $(this).addClass('active');

            // showing content
            var val = $(this).attr('data-attr');
            $('.tab-content .tcontent').removeClass('active');
            $('.tab-content .tcontent.' + val).addClass('active');
        });
    });
</script>

</html>
