<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="revive landing">
    <div class="parent">

        <!-- Top Nav -->
        <% include ../partials/header %>
            <!-- Container -->
            <div class="content container">
                <div class="info-container clearfix">
                    <div class="left">
                        <div class="banner">
                            <img src="http://a.abcnews.com/images/Entertainment/AP_the_simpsons_jef_131001_33x16_1600.jpg">
                            <span class="favorite">Favorite</span>
                        </div>
                        <h2 class="title">THE SIMPSONS</h2>
                        <p class="subtitle">Last season in 2008</p>
                        <hr class="small">
                        <div class="social clearfix">
                            <a class="fb"><img src="/images/fb_white.png"></a>
                            <a class="tw"><img src="/images/tw_white.png"></a>
                            <a class="pt"><img src="/images/pt_white.png"></a>
                            <a class="tm"><img src="/images/tb_white.png"></a>
                        </div>
                        <hr class="small">
                        <div class="tabs clearfix">
                            <div class="tab active" data-attr="story">
                                <span>STORY</span>
                            </div>
                            <div class="tab" data-attr="updates">
                                <span>UPDATES</span>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tcontent story active">
                                <div class="copy">
                                    <p>The Simpsons is an American animated sitcom created by Matt Groening for the Fox Broadcasting Company.The series is a satirical depiction of a working class lifestyle epitomized by the Simpson family, which consists
                                        of Homer, Marge, Bart, Lisa, and Maggie. The show is set in the fictional town of Springfield and parodies American culture, society, television, and many aspects of the human condition. It's the 20th Century Fox
                                        debut in animation.</p>
                                    <img src="http://ib.huluim.com/show_key_art/58?size=1600x600&region=US">
                                    <p>The family was conceived by Groening shortly before a solicitation for a series of animated shorts with the producer James L. Brooks. Groening created a dysfunctional family and named the characters after members of
                                        his own family, substituting Bart for his own name. The shorts became a part of The Tracey Ullman Show on April 19, 1987. After a three-season run, the sketch was developed into a half-hour prime time show and was
                                        an early hit for Fox, becoming the network's first series to land in the Top 30 ratings in a season (1989–90).</p>
                                    <img src="http://static-media.fxx.com/img/FX_Networks_-_FXX/972/471/fox_TheSimpsons_VABF15_hulu.jpg">
                                    <p>Since its debut on December 17, 1989, the series has broadcast 596 episodes. It will begin airing its 28th season on September 25, 2016. The Simpsons is the longest-running American sitcom, the longest-running American
                                        animated program, and in 2009 it surpassed Gunsmoke as the longest-running American scripted primetime television series. The Simpsons Movie, a feature-length film, was released in theaters worldwide on July 27,
                                        2007, and grossed over $527 million. On May 4, 2015, the series was officially renewed for seasons twenty-seven (2015–16) and twenty-eight (2016–17), consisting of 22 episodes each.</p>
                                </div>
                            </div>
                            <div class="tcontent updates">
                                <div class="update">
                                    <h3>UPDATE #2</h3>
                                    <p>4 hours ago</p>
                                    <hr class="small">
                                    <div class="copy">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                            mollit anim id est laborum.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                            mollit anim id est laborum.</p>
                                    </div>
                                </div>
                                <div class="update">
                                    <h3>UPDATE #1</h3>
                                    <p>12 hours ago</p>
                                    <hr class="small">
                                    <div class="copy">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                            mollit anim id est laborum.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                            mollit anim id est laborum.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                            mollit anim id est laborum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="small">
                        <div class="bottom-btns clearfix">
                            <a class="btn"><img src="/images/question.png">ASK A QUESTION</a>
                            <a class="btn"><img src="/images/report.png">REPORT REVIVE</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="funding">
                            <h2>13,951 SIGNATURES<span>of 25k goal</span></h2>
                            <div class="funds">
                                <div class="fund-bar">
                                    <div class="progress-bar" style="width:80%"></div>
                                </div>
                            </div>
                        </div>
                        <a class="btn main-btn">ADD MY SIGNATURE</a>
                        <hr class="small">
                        <div class="social clearfix">
                            <a class="fb"><img src="/images/fb_white.png"></a>
                            <a class="tw"><img src="/images/tw_white.png"></a>
                            <a class="pt"><img src="/images/pt_white.png"></a>
                            <a class="tm"><img src="/images/tb_white.png"></a>
                        </div>
                        <hr class="small">
                        <div class="owner user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/c93.0.240.240/p240x240/14192740_10103896542065429_7184319250285025710_n.jpg?oh=421b7a20234ef06256b7c1f731676295&oe=58818689">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Jon Smith</p>
                                <p>Created 2 days ago</p>
                            </div>
                        </div>
                    </div>
                    <div class="right recent">
                        <h4 class="category">RECENT SUPPORTERS</h4>
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Jane Doe</p>
                                <p>Signed 12 minutes ago</p>
                            </div>
                        </div>
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p240x240/14292346_109382659519954_9181079190146997888_n.jpg?oh=96f311c1ec430cc60a098f1a02d7632f&oe=587D4071">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Christi Wills Huff</p>
                                <p>Signed 34 minutes ago</p>
                            </div>
                        </div>
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/c25.25.315.315/s240x240/318902_4090011174644_415197009_n.jpg?oh=a38fe7b56404fa4f955c4373bdc22946&oe=588185F2">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Tim Whitfield</p>
                                <p>Signed 5 hours ago</p>
                            </div>
                        </div>
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Jane Doe</p>
                                <p>Signed 12 minutes ago</p>
                            </div>
                        </div>
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p240x240/14292346_109382659519954_9181079190146997888_n.jpg?oh=96f311c1ec430cc60a098f1a02d7632f&oe=587D4071">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Christi Wills Huff</p>
                                <p>Signed 34 minutes ago</p>
                            </div>
                        </div>
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/c25.25.315.315/s240x240/318902_4090011174644_415197009_n.jpg?oh=a38fe7b56404fa4f955c4373bdc22946&oe=588185F2">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Tim Whitfield</p>
                                <p>Signed 5 hours ago</p>
                            </div>
                        </div>
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Jane Doe</p>
                                <p>Signed 12 minutes ago</p>
                            </div>
                        </div>
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p240x240/14292346_109382659519954_9181079190146997888_n.jpg?oh=96f311c1ec430cc60a098f1a02d7632f&oe=587D4071">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Christi Wills Huff</p>
                                <p>Signed 34 minutes ago</p>
                            </div>
                        </div>
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/c25.25.315.315/s240x240/318902_4090011174644_415197009_n.jpg?oh=a38fe7b56404fa4f955c4373bdc22946&oe=588185F2">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Tim Whitfield</p>
                                <p>Signed 5 hours ago</p>
                            </div>
                        </div>
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Jane Doe</p>
                                <p>Signed 12 minutes ago</p>
                            </div>
                        </div>
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p240x240/14292346_109382659519954_9181079190146997888_n.jpg?oh=96f311c1ec430cc60a098f1a02d7632f&oe=587D4071">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Christi Wills Huff</p>
                                <p>Signed 34 minutes ago</p>
                            </div>
                        </div>
                        <div class="user clearfix">
                            <div class="avatar">
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/c25.25.315.315/s240x240/318902_4090011174644_415197009_n.jpg?oh=a38fe7b56404fa4f955c4373bdc22946&oe=588185F2">
                            </div>
                            <div class="copy">
                                <p class="ellipsis">Tim Whitfield</p>
                                <p>Signed 5 hours ago</p>
                            </div>
                        </div>
                        <a class="btn load-more"><img src="/images/load-more.png">LOAD MORE</a>
                    </div>
                </div>
                <hr class="small">
                <div class="comments">
                    <h4 class="category">ADD A COMMENT</h4>
                    <textarea placeholder="Enter Comment..."></textarea>
                    <input type="submit" value="SUBMIT">
                    <hr class="small">
                    <div class="comments">
                        <h4 class="category">13 COMMENTS</h4>
                        <div class="comment clearfix">
                            <div class="user clearfix">
                                <div class="avatar">
                                    <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                                </div>
                                <div class="copy">
                                    <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                    <p>I want to revive this tv show as well! You have my signature.</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment clearfix">
                            <div class="user clearfix">
                                <div class="avatar">
                                    <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                                </div>
                                <div class="copy">
                                    <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                    <p>I want to revive this tv show as well! You have my signature.</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment clearfix">
                            <div class="user clearfix">
                                <div class="avatar">
                                    <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                                </div>
                                <div class="copy">
                                    <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                    <p>I want to revive this tv show as well! You have my signature.</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment clearfix">
                            <div class="user clearfix">
                                <div class="avatar">
                                    <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                                </div>
                                <div class="copy">
                                    <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                    <p>I want to revive this tv show as well! You have my signature.</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment clearfix">
                            <div class="user clearfix">
                                <div class="avatar">
                                    <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                                </div>
                                <div class="copy">
                                    <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                    <p>I want to revive this tv show as well! You have my signature.</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment clearfix">
                            <div class="user clearfix">
                                <div class="avatar">
                                    <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                                </div>
                                <div class="copy">
                                    <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                    <p>I want to revive this tv show as well! You have my signature.</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment clearfix">
                            <div class="user clearfix">
                                <div class="avatar">
                                    <img src="https://scontent.xx.fbcdn.net/v/l/t1.0-1/p240x240/13697038_10207835192652421_41828866096877486_n.jpg?oh=536a02d1d3453f82c5a6c312bcbee772&oe=5842CCBB">
                                </div>
                                <div class="copy">
                                    <p class="ellipsis">Jane Doe <span>12 minutes ago</span></p>
                                    <p>I want to revive this tv show as well! You have my signature.</p>
                                </div>
                            </div>
                        </div>
                        <a class="btn load-more"><img src="/images/load-more.png">LOAD MORE</a>

                    </div>
                </div>
            </div>

            <!-- Footer -->
            <% include ../partials/footer %>
    </div>
</body>

<script type="text/javascript" charset="utf-8">
    $(function() {
        $('body.landing .tabs .tab').bind('click', function() {
            // toggle tabs
            $('.tabs .tab').removeClass('active');
            $(this).addClass('active');

            // showing content
            var val = $(this).attr('data-attr');
            $('.tab-content .tcontent').removeClass('active');
            $('.tab-content .tcontent.' + val).addClass('active');
        });
    });
</script>

</html>
