<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="login campaign landing">
    <div class="parent">

        <!-- Top Nav -->
        <% include ../partials/header %>
        <!-- Container -->
        <div class="content container">
            <div class="info-container clearfix">
                <div class="steps-container">
                    <div class="step step-one active">
                        <h2>LOG IN</h2>
                        <a href="/pages/dashboard" class="fb-link btn"><img src="/images/fb_white.png">USE MY FACEBOOK ACCOUNT</a>
                        <a href="/pages/dashboard" class="gl-link btn"><img src="/images/gl_white.png">USE MY GOOGLE + ACCOUNT</a>
                        <p class="or">or</p>
                        <div class="contain">
                            <span>EMAIL</span>
                            <input type="text">
                        </div>
                        <div class="contain">
                            <span>PASSWORD</span>
                            <input type="password">
                        </div>
                        <div class="contain">
                            <a href="/users/dashboard"class="btn">LOG IN</a>
                        </div>
                        <a class="forgot-pass">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <% include ../partials/footer %>
    </div>
</body>

</html>
